@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* h1 {
    font-family: Verdana, sans-serif;
    font-weight: 700;
}

h2 {
    font-family: Verdana, sans-serif;
    font-weight: 700;
}

p {
    font-family: Verdana, sans-serif;
    line-height: 3;
} */

.container-program-head {
    margin-top: 120px;
    margin-left: 50px;
    color: #333;
    font-family: "Lexend Deca";
    font-weight: 550;
    font-size: 18px;
}

.container-program-body {
    /* background: linear-gradient(to right, #f5f7ff, #c5c9d7); */
    /* margin-left: 50px; */
    
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Lexend Deca";
    font-weight: 300;
    line-height: 3;
    font-size: 18px;
    color: black;
}

.container-logo-pic {
    margin-left: auto;
    position: relative;
    width: 20%;
    height: 150px;
    margin-top: 15px;
    margin-right: 30px; 
    
}

.table-class {
    width: 100%;
    border-collapse: collapse;
}
.table-class th, .table-class td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
.link-class {
    text-decoration: underline;
}

.container-logo-pic {
    margin-left: auto;
    position: relative;
    width: 20%;
    height: 150px;
    margin-top: 15px;
    margin-right: 30px; 
    padding-right: 30px;
    
}