.slider-container2 {
    width: 90%;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}

.news-slide {
    background-color: white;
    height: 450px;
    color: black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.news-slide:hover {
    transform: scale(1);
}

.slide-header {
    height: 224px;
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    padding: 0;
}

.slide-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    object-position: top;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.slide-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.slide-review {
    text-align: center;
}

.slide-button {
    background-color: rgb(222, 134, 27);
    color: white;
    font-size: 1.125rem;
    padding: 8px 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    display: block;
    width: auto;
}

.slick-dots li.slick-active button:before {
    color: rgb(222, 134, 27) !important;
}

.slider-container2 .slick-prev,
.slider-container2 .slick-next {
    color: rgb(222, 134, 27);
    font-size: 2rem;
    z-index: 1;
    width: 35px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider-container2 .slick-prev {
    left: -12px !important;
}

.slider-container2 .slick-next {
    right: -33px !important;
}

@media screen and (max-width: 639px) {
    .slider-container2 {
        width: 88%;
    }

    .slide-header {
        height: 150px;
    }

    .slide-image {
        height: 100px;
        width: 100px;
    }

    .slide-title {
        font-size: 1rem;
    }

    .slide-review {
        font-size: 0.875rem;
    }

    .slide-button {
        font-size: 1rem;
        padding: 6px 16px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .slider-container2 {
        width: 90%;
    }

    .news-slide {
        height: 350px;
    }

    .slide-header {
        height: 180px;
    }

    .slide-image {
        height: 130px;
        width: 130px;
    }

    .slide-title {
        font-size: 1.125rem;
    }

    .slide-review {
        font-size: 1rem;
    }

    .slide-button {
        font-size: 1.125rem;
        padding: 8px 20px;
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 3rem;
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__list2 {
        flex-direction: row;
        column-gap: 1rem;
    }

    .login__form {
        padding: 3rem 2rem 3.5rem;
    }

    hr {
        width: 65rem;
        border-width: 3px;
    }

    .quote h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .quote h2 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
