.container2 {
    margin: 10rem;
    width: 1150px;
    height: 500px;
    background-color: bisque;
    overflow: hidden; /* Added overflow to prevent content spill */
}

.list_menu {
    padding-top: 5rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: row;
    row-gap: 2.5rem;
    text-align: center;
    column-gap: 5rem; /* Reduced gap for better spacing */
}

.button_img {
    width: 300px; /* Adjusted to a reasonable size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 2rem;
}

.button_img:hover {
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
}
