.container2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 13rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.list_menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
    width: 100%; 
}

.list_menu li {
    margin: 1rem;
    flex: 1 1 calc(33.33% - 2rem); 
    display: flex;
    justify-content: center;
}

.button_img {
    width: 100%;
    max-width: 300px;
    min-width: 80px;
    height: auto;
    border-radius: 1.5rem;
    transition: box-shadow 0.3s ease; 
}

.button_img:hover {
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
}


@media screen and (max-width: 600px) {
    .container2 {
        flex-direction: column;
    }

    .list_menu li {
        flex: 1 1 100%; 
        margin: 1.5rem;
    }

    .button_img {
        max-width: 100px; 
    }
}
