.news0-page {
    font-family: "Lexend Deca";
    margin-top: 5.5rem;
    background: linear-gradient(hsl(230, 100%, 98%), #cbcfe6);
}

.news0-page .about-section {
    padding: 50px;
    text-align: center;
    background-color: hsl(230, 100%, 98%);
}

.news0-page .title {
    color: grey;
}

.news0-page .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px 16px; 
    color: white;
    background-color: #d58442;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    border-radius: 0.5rem;
}

.news0-page .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    margin: 0 auto; 
}

.news0-page .column {
    flex: 1;
    min-width: 280px; 
    max-width: 32%; 
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    justify-content: center;
}

.news0-page .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.news0-page .container {
  text-align: center;
  padding: 10px 0;
  margin-top: auto; 
}

.news0-page .card img {
    max-width: 100%;
    object-fit: cover;
    height: 300px; 
    border-radius: 8px; 
    margin-bottom: 10px;
    object-position: top;
}

@media screen and (max-width: 768px) {
    .news0-page .column {
        max-width: 100%;
    }
}

.news0-page .button:hover {
    background-color: hsl(25, 80%, 40%);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.news0-page .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}