@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.news-page {
    font-family: "Lexend Deca";
    margin: 0;
}

.news-page .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.news-page .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-color: #ffffff;
}

.news-page .about-section {
    padding: 50px;
    text-align: center;
    background-color: hsl(230, 100%, 98%);
}

.news-page .container {
    padding: 0 16px;
}

.news-page .container::after, .news-page .row::after {
    content: "";
    clear: both;
    display: table;
}

.news-page .title {
    color: grey;
}

.news-page .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #d58442;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.news-page .button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .news-page .column {
        width: 100%;
        display: block;
    }
}
